<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
    {% block title%}HOME{%endblock%}
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href = "{{url_for('static', filename= 'styles.css') }}">
  </head>
  <body>
    <nav class="navbar">
      <div class="nav-container">
        <div class="navbar-brand">
          <span class="img-container">
            <img src="https://cdn-icons-png.flaticon.com/512/233/233992.png" alt="Logo" class="brand-logo">
          </span>
          <span class="title">2AM</span>
        </div>
        <div class="navbar-header">
          <ul class="header-list">
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"><span class="material-symbols-outlined">account_circle</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Log Out</a>
            </li>
            {% else %}
            <li class="nav-item me-2">
              <a class="nav-link" href="/sign-up">SignUp</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Log In</a>
            </li>
            {% endif %}
          </ul>
          <div class="theme-toggle">
            <input type="checkbox" class="checkbox" id="checkbox">
            <label for="checkbox" class="checkbox-label">
              <i class="fas fa-moon"></i>
              <i class="fa-solid fa-sun"></i>
              <span class="ball"></span>
            </label>
          </div>
        </div>
      </div>
    </nav>
  <!-- <nav class="navbar navbar-expand-lg sticky-top bg-dark">
  <div class="container-fluid">
   <a class="navbar-brand" href="#">
    <img src="https://cdn-icons-png.flaticon.com/512/233/233992.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
    2 AM
   </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll nav-underline justify-content-end" style="--bs-scroll-height: 100px;">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><span class="material-symbols-outlined">account_circle</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Log Out</a>
        </li>
        {% else %}
        <li class="nav-item me-2">
          <a class="nav-link" href="/sign-up">SignUp</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Log In</a>
        </li>
        {% endif %}
      </ul>
      {% if user.is_authenticated %}
      <form class="d-flex w-30" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      {% endif %}
    </div>
  </div>
</nav> -->

<!-- <div class="alert alert-danger alert-dismissible fade show" role="alert">
  {{message}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    <i class="fa-solid fa-xmark"></i>
  </button>
</div> -->

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
        {% if category == 'error' %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
              <i class="fa-solid fa-xmark"></i>
            </button>
          </div>
          {% else %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
              <i class="fa-solid fa-xmark"></i>
            </button>
          </div>
          {% endif %}
        {% endfor %}
      {% endif%}
    {% endwith %}
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
    <script
      type="text/javascript"
      src="{{url_for('static', filename= 'index.js') }}">
    </script>
  </body>
</html>
