{% extends "base.html" %}
{% block title%}Login{% endblock %}

{% block content %}

<div class="sign-up d-flex justify-content-center mt-5 mb-5">
    <form action="" method="post">
        <h1>Login</h1>
        <div class="form-details mt-2 mb-2">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" class="form-control" placeholder="abc@gmail.com">
        </div>
        <div class="form-details mt-2 mb-2">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" placeholder=" ">
        </div>
        <div class="button d-flex justify-content-center">
            <button type="button" class="btn btn-primary">Login</button>
        </div>
    </form>
</div>

{% endblock %}