{% extends "base.html" %}
{% block title%}
Login
{% endblock %}

{% block content %}

<div class="auth-box">
    <form action="" method="POST">
        <h1 class="heading__title">Login</h1>
            <label class="form__label" for="email">Email</label>
            <input class="form__input"
              type="text" 
              id="email" 
              name="email"
              size="30"
              required>
            <label class="form__label" for="password">Password</label>
            <input class="form__input"
              type="password" 
              id="password" 
              name="password"
              size="30"
              required>
        <div class="login-signup-btn-container">
          <button type="submit" class="button"><span>Login</span></button>
        </div><br>
        <span>Wanna Hangout<span>
          <button type="submit" class="button"><span>Sign Up</span></button>
    </form>
</div>

{% endblock %}
