{% extends "base.html" %}
{% block title%}Login{% endblock %}

{% block content %}

<div class="auth-box">
    <form action="" method="POST">
        <h1 class="auth-box-title">Login</h1>
        <div class="input-field">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Enter Your Email Here" class="input-textarea">
        </div>
        <div class="input-field">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder=" " class="input-textarea">
        </div>
        <div class="login-signup-btn-container">
            <button type="submit" class="login-signup-btn">Login</button>
        </div>
    </form>
</div>

{% endblock %}
