{% extends "base.html" %}
{% block title%}Sign-Up{% endblock %}

{% block content %}

<div class="auth-box">
    <form action="" method="POST">
        <h1 class="heading__title">Sign Up</h1>
            <label class="form__label" for="name">Name</label>
            <input class="form__input"
              type="text" 
              id="name" 
              name="name"
              placeholder="Enter your name"
              size="30"
              required>

            <label class="form__label" for="name">Email</label>
            <input class="form__input"
              type="text" 
              id="email" 
              name="email"
              size="30"
              placeholder="Enter your Email Here"
              required>

            <label class="form__label" for="password">Password</label>
            <input class="form__input"
              type="text" 
              id="password" 
              name="password"
              size="30"
              required>

            <label class="form__label" for="password">Confirm Password</label>
            <input class="form__input"
              type="text" 
              id="confirm-password" 
              name="confirm-password"
              size="30"
              required>

        <div class="login-signup-btn-container">
            <button type="submit" class="button"><span>Sign Up</span></button>
        </div>
    </form>
</div>

{% endblock %}
