{% extends "base.html" %}
{% block title%}Sign-Up{% endblock %}

{% block content %}

<div class="auth-box">
    <form action="" method="POST">
        <h1 class="auth-box-title">Sign Up</h1>
        <div class="input-field">
            <label for="firstName">First Name</label>
            <input type="text" name="name" id="name" placeholder="Your name" class="input-textarea">
        </div>
        <div class="input-field">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Enter Your Email Here" class="input-textarea">
        </div>
        <div class="input-field">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Enter Password" class="input-textarea">
        </div>
        <div class="input-field">
            <label for="confirm-password">Confirm Password</label>
            <input type="password" name="confirm-password" id="confirm-password" placeholder="Confirm Password" class="input-textarea">
        </div>
        <div class="login-signup-btn-container">
            <button type="submit" class="login-signup-btn">Sign Up</button>
        </div>
        <div class="button d-flex justify-content-center">
          <a href="github_login"> Sign Up with github</a>
            <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
        </div>
    </form>
</div>

{% endblock %}
